<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/styleHome.css" />
    <title>Ouest-Algerien</title>
  </head>
  <body>
    <header>
      <div class="image-background">
        <img src="/images/ouest-algerien.jpg" alt=""/>
      </div>
      <nav>
        <a class="logo" href="#">LOGO</a>
        <ul>
          <li class="home-list"><a href="/">home</a></li>
          <li><a href="/Documents" id="liste">documents</a></li>
          <li><a href="#" id="liste">about us</a></li>
          <li><a href="/Contact" id="liste">contact us</a></li>
        </ul>
      </nav>
      <div class="header-container">
        <h2>ouest algérien</h2>
        <p>
          Ce text présente la problématique, la méthode de recherche et les
          <br />
          principaux résultats d'une thèse de doctorat en géographie intitulée
          <br />
          "Environnement er littoralisation de l'Ouest algérien".Menée en
          cotutelle <br />
          entre l'Université d'Oran
        </p>
        <div class="descover-button">
          <a href="#">descover</a>
        </div>
      </div>
      <div class="social-media">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
      </div>
    </header>
    <section class="liste-du-patrimoine">
      <h1 class="titre-liste">Liste du patrimoine</h1>
      <div class="liste-du-patrimoine-container">
        <div class="left-liste-du-patrimoine">
          <div class="left-header">
            <div class="wilaya">
              <h2>1</h2>
              <span>wilaya</span>
            </div>
            <div class="wilaya">
              <h2>152</h2>
              <span>places</span>
            </div>
            <div class="wilaya"></div>
          </div>
          <div class="left-center-map"></div>
          <div class="left-footer">
            <h2>algeria</h2>
            <h4>• Oran :</h4>
            <div class="left-footer-container">
              <a href="https://whc.unesco.org/fr/list/914"
                ><div class="line"></div>
                Parc de la zone humide d’iSimangaliso</a
              >
            </div>
          </div>
        </div>
        <div class="right-liste-du-patrimoine">
          <div class="right-header">
            <h2>Catégorie du bien</h2>
            <div class="categories">
              <div class="categorie first">
                <div class="circle-categorie"></div>
                <h3>catégorie 1</h3>
              </div>
              <div class="categorie second">
                <div class="circle-categorie"></div>
                <h3>catégorie 2</h3>
              </div>
              <div class="categorie third">
                <div class="circle-categorie"></div>
                <h3>catégorie 3</h3>
              </div>
            </div>
          </div>
          <div class="right-centre">
            <h2>About us</h2>
            <p>
              La carte grand format en couleurs, 78cm par 50cm, est disponible
              en version La carte grand format en couleurs, 78cm par 50cm, est
              disponible en version La carte grand format en couleurs, 78cm par
              50cm, est disponible en version
            </p>
            <div class="learn button">
              <a href="/Aboutus">Learn more</a>
            </div>
          </div>
          <div class="right-bottom">
            <h2>Contact us</h2>
            <p>
              La carte grand format en couleurs, 78cm par 50cm, est disponible
              en version
            </p>
            <div class="contact button">
              <a href="/Contact">Let's talk</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer-items">
        <div class="footer-item LOGO">
          <h2>LOGO</h2>
          <p>
            Mobot is an online education platform that delivers video courses,
            programs and resources.
          </p>
          <div class="footer-social-media">
            <div class="social-media-item facebook">
              <a href="#">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
            </div>
            <div class="social-media-item twitter">
              <a href="#">
                <i class="fa-brands fa-twitter"></i>
              </a>
            </div>
            <div class="social-media-item youtube">
              <a href="#">
                <i class="fa-brands fa-youtube"></i>
              </a>
            </div>
            <div class="social-media-item dribbble">
              <a href="#">
                <i class="fa-brands fa-dribbble"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="footer-item quicklinks">
          <h3>quicklinks</h3>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Documents</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>
        <div class="footer-item contact">
          <h3>Contact Us</h3>
          <p>
            (+55) 254. 254. 254 <br />Info@lsemajafrica.com Helios Tower 75 Tam
            Trinh Algeria,Algeries
          </p>
        </div>
        <div class="footer-item terms">
          <p>Terms and Conditions Faq</p>
        </div>
      </div>
      <div class="footer-mobot">
        <h3>All Right Reserved | MOBOT</h3>
      </div>
    </footer>
  </body>
</html>
