@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --whitecolor: #fff;
  --secondcolor: #ee7122;
  --bgcolor: #500707;
  --bg2color: #0186ad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.map-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

nav {
  z-index: 2;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  background-color: rgba(30, 30, 30, 0.5);
}

.add-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 62px;
  cursor: pointer;
}

.add-btn h2 {
  font-size: 30px;
  line-height: 45px;
  font-weight: 600;
  color: rgba(30, 30, 30, 0.8);
}

.sign{
  width: 86px;
  height: 38px;
  border-radius: 20px;
  background-color: rgba(208, 2, 27, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 40px;
  cursor: pointer;
}

.sign:hover{
  background-color: rgba(208, 2, 27, 1);
  transition: 1s all ease;
}

.sign a {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#decorative-map {
  position: absolute;
  top: 150px;
}

.new-article-class {
  width: 535px;
  padding-bottom: 45px;
  height: calc(100vh - 100px);
  position: absolute;
  top: 100px;
  left: 0;
  background-color: #fff;
  border-radius: 0px 40px 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  overflow: scroll;
  overflow-x: hidden;
  display: none;
}


.new-article-active .new-article-class {
  display: flex;
}

.new-article-class::-webkit-scrollbar {
  width: 0px;
}

.close-class {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  background-color: rgba(96, 96, 96, 1);
  position: absolute;
  top: 26px;
  left: 480px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.6;
}

.close-class:hover {
  opacity: 1;
  transition: all 1s ease;
}

.close-class i {
  color: #fff;
  font-size: 16px;
}

.new-article-class h2 {
  font-size: 40px;
  color: rgba(96, 96, 96, 1);
  line-height: 63.4px;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 45px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-top: 71px;
  width: 411px;
}

form input,
form textarea {
  outline: none;
  border: none;
  width: 411px;
  height: 60px;
  border-radius: 20px;
  padding-left: 23px;
  font-size: 12px;
  background-color: rgba(238, 243, 244, 1);
}

form textarea {
  padding-top: 19px;
}

.link-tasili,
.add-document-class {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

form a,
.add-document-class span,
.add-photo-class span {
  font-weight: 400;
  text-decoration: none;
  font-size: 10px;
  line-height: 15px;
  color: rgba(153, 153, 153, 1);
  margin-left: 22px;
  cursor: pointer;
}

.add-photo-class {
  display: flex;
  align-items: center;
  gap: 7px;
  width: 450px;
}

.photos-class {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 359px;
  height: 49px;
  background: linear-gradient(180deg, #eef3f4 25%, rgba(238, 243, 244, 0) 100%);
  border-radius: 20px;
}

#details {
  height: 611px;
}

.photo-item {
  width: 44px;
  height: 48px;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    #d9d9d9 0%,
    rgba(217, 217, 217, 0) 57.29%
  );
}

.add-donnee-button {
  width: 86px;
  height: 38px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgba(30, 30, 30, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-donnee-button input{
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  height: 38px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}

.add-donnee-button:hover {
  background-color: rgba(30, 30, 30, 1);
  transition: 1s all ease;
}
.LocationDisplay{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #500707;
}
.LocationDisplay input{
  width: 150px;
  align-self: center;
  align-content: center;
  text-align: center;
  color: #500707;
}
/* Markers */
/*
Author: L. Voogdt
License: MIT
Version: 1.0
*/

/* Marker setup */
.awesome-marker {
  background: url('images/markers-soft.png') no-repeat 0 0;
  width: 35px;
  height: 46px;
  position:absolute;
  left:0;
  top:0;
  display: block;
  text-align: center;
}

.awesome-marker-shadow {
  background: url('images/markers-shadow.png') no-repeat 0 0;
  width: 36px;
  height: 16px;
}

/* Retina displays */
@media (min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
 .awesome-marker {
  background-image: url('images/markers-soft@2x.png');
  background-size: 720px 46px;
 }
 .awesome-marker-shadow {
  background-image: url('images/markers-shadow@2x.png');
  background-size: 35px 16px;
 }
}

.awesome-marker i {
  color: #333;
  margin-top: 10px;
  display: inline-block;
  font-size: 14px;
}

.awesome-marker .icon-white {
  color: #fff;
}

/* Colors */
.awesome-marker-icon-red {
  background-position: 0 0;
}

.awesome-marker-icon-darkred {
  background-position: -180px 0;
}

.awesome-marker-icon-lightred {
  background-position: -360px 0;
}

.awesome-marker-icon-orange {
  background-position: -36px 0;
}

.awesome-marker-icon-beige {
  background-position: -396px 0;
}

.awesome-marker-icon-green {
  background-position: -72px 0;
}

.awesome-marker-icon-darkgreen {
  background-position: -252px 0;
}

.awesome-marker-icon-lightgreen {
  background-position: -432px 0;
}

.awesome-marker-icon-blue {
  background-position: -108px 0;
}

.awesome-marker-icon-darkblue {
  background-position: -216px 0;
}

.awesome-marker-icon-lightblue {
  background-position: -468px 0;
}

.awesome-marker-icon-purple {
  background-position: -144px 0;
}

.awesome-marker-icon-darkpurple {
  background-position: -288px 0;
}

.awesome-marker-icon-pink {
  background-position: -504px 0;
}

.awesome-marker-icon-cadetblue {
  background-position: -324px 0;
}

.awesome-marker-icon-white {
  background-position: -574px 0;
}

.awesome-marker-icon-gray {
  background-position: -648px 0;
}

.awesome-marker-icon-lightgray {
  background-position: -612px 0;
}

.awesome-marker-icon-black {
  background-position: -682px 0;
}
